.offer__container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 25rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 25rem;
  text-align: center;
}

.offer__wrapper {
  text-align: center;
}

@media screen and (max-device-width: 640px) {
  .offer__container {
    width: 100vw;
  }
}
