.home__container {
    min-height: 80vh;
}

.home__banner {
    background-image: url('../../assets/images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.home__button {
    background-color: #CC9544;
    padding: 3rem;
    font-size: var(--font-size-md);
    border-radius: 15px;
    color: #361500;
}

.home__button:hover {
    background-color: #361500;
    color: #CC9544;
}