.contact__wrapper {
    min-height: 100vh;
    background: var(--primary-background-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__details {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.contact__info1 {
    background: var(--light-color);
    color: #000; 
    gap: 2rem;
    padding: 2rem;
    border-radius: 15px;
    border-left: 5px solid red;
    margin-bottom: 2rem;
}

.contact__form {
    background: var(--light-color);
   max-width: 45%;
   border-radius: 15px;
   display: grid;
   place-items: center;
}



.btn-s {
    background: var(--primary-background-color);
    width: 55rem;
}

@media screen and (max-device-width: 640px) {
    .contact__form {
        max-width: 80%;
    }
}