/* .slide-container {
    min-height: 100vh;
} */

.each-fade {
  height: 100vh;
  position: relative;
  width: 100%;
}

.each-fade .image-container {
  height: 100vh;
  width: 100%;
}

.image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.each-fade .image-caption {
  position: absolute;
  top: 300px;
  width: 100%;
  display: flex;
  z-index: 100;
}

.each-fade .image-caption div h2 {
  font-size: 4rem;
  color: #603601;
}
