.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.9);
    min-height: 13vh;
    z-index: 999;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
}

.header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header ul  li {
    width: 9rem;
}

.nav__drop {
    position: relative;
    height: 100%;
}

.dropdown__menu {
    position: absolute;
    top: 4rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;

}

.dropdown-links {
    display: flex;
    flex-direction: column;
}

.nav__drop > .nav__btn:focus + .dropdown__menu {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-links > a:focus {
    pointer-events: auto;
}